.reset {
}

body {
  color: red;
  line-height: 1.6;
}

.navigation-primary a:link,
.navigation-primary a:visited,
.navigation-primary a:active {
  color: #681525;
}

.special {
  font-weight: bold;
}

.footer {
  color: white;
  background-color: darkslateblue;
}
