.reset {
}

body {
  color: red;
  line-height: 1.6;
}

.navigation-primary a:link,
.navigation-primary a:visited,
.navigation-primary a:active {
  color: #681525;
}

.special {
  font-weight: bold;
  margin: 0;
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.sidebar {
  padding-top: 3rem;
}

.footer {
  color: white;
  background-color: darkslateblue;
}
